// color
$white-color: #fff;
$black-color: #000;
$text-color: #333;
$border-color: #f2f2f2;
$main-1-color: #069e2d;
$main-2-color: #058e3f;
$main-3-color: #04773b;
$main-4-color: #036016;
$main-5-color: #03440c;

// font-size
$size-12: 1.2rem;
$size-13: 1.3rem;
$size-14: 1.4rem;
$size-15: 1.5rem;
$size-16: 1.6rem;
$size-17: 1.7rem;
$size-18: 1.8rem;
$size-19: 1.9rem;
$size-20: 2rem;

// font-weight
$font-300: 300;
$font-400: 400;
$font-500: 500;

$font-700: 700;
